xml/project-schema3.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="projects">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="project" type="projectType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:complexType name="projectType">
            <xs:all>
                <xs:element name="supervisor" type="superType"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="keywords" type="keywordsType"/>
            </xs:all>
            <xs:attribute type="xs:string" name="key"/>
</xs:complexType>
<xs:complexType name="superType">
            <xs:all>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:all>
            <xs:attribute type="xs:string" name="key"/>
</xs:complexType>
<xs:complexType name="keywordsType">
            <xs:sequence>
            <xs:element name="keyword" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
</xs:complexType>
</xs:schema>

