xml/schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="menu">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="Pizza" type="PizzaType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
<xs:complexType name="PizzaType">
            <xs:all>
                <xs:element name="Base" type="xs:string"/>
                <xs:element name="Cheese" type="xs:string"/>
                <xs:element name="Toppings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Topping" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
</xs:schema>

